*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/example/Android_bigWork/
/app/src/test/java/com/example/Android_bigWork/
